.audioWave {
  width: 50%;
  background-color: rgba(15, 15, 15, 0.729);
  margin: auto;
  margin-top: 100px;
}

.control {
  margin-top: 20px;
}

.button {
  background-color: rgba(36, 44, 80, 0.805);
  color: white;
  width: 100px;
  border-radius: 50%;
  height: 50px;
}

.button2 {
  background-color: rgba(36, 44, 80, 0.805);
  color: white;
  margin-left: 50px;
  width: 150px;
  border-radius: 50%;
  height: 50px;
}
